body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { margin:0; padding:0; }
body { background:#fff;font-family: "Myriad Set Pro","Helvetica Neue","Helvetica","Arial",sans-serif; }
h1, h2, h3, h4, h5, h6 { font-weight:normal; }
a { color:#555; text-decoration:none; }
img { border:none; }
ol,ul,li { list-style:none; }
html {overflow-y: scroll;} 
.clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1; }
em{font-style:normal;}
li{list-style:none;}
img{border:0;vertical-align:middle;}
table{border-collapse:collapse;border-spacing:0;}
p{word-wrap:break-word;}
ul{list-style: none;} 
article,aside,dialog,footer,header,section,footer,nav,figure,menu{display:block;}
.html {
    quotes: "“" "”";
    font-size: 112.5%;
}
.contain{
	text-align: center;
	width: 100%;
	height: 900px;
}
.main input{
	display: block;
	height: 80px;
	width: 355px;

}
.button{margin-top: 10px;}
.main{
	height: 470px;
	width: 360px;
	padding: 10px;
	margin-right: auto;
	margin-left: auto;
	border:1px solid #ccc;

}
.button button{
	margin:1px;
	float: left;
	width: 87px;
	display: block;
	height: 60px;
	border:1px solid #ccc;
}
#buttonEquail{width: 176px;}